.container {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
}


.title{
  height: 25px;;
  font-size: 22px;
  color: red;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 7px;
  padding: 5px 7px;
  background-color: rgb(216, 215, 205);
  transition: 1s;
  
}

.title_click {
  height: 40px;
  padding: 5px;
  color: blue;
  border: 2px solid red;
  border-radius: 7px;
  padding: 5px 7px;
  background-color: rgb(182, 233, 168);
  transition: 1.5s;
  transform: rotate(360deg);
}

.image {
  border: 2px solid grey;
  border-radius: 7px;
  width: 150px;
  margin-bottom: 10px;
}